.about {
  background-color: #192144;
  color: #fff;
  padding-top: 33px;
  padding-bottom: 82px;
  background-image: url(../img/bg-about-mobile.png);
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  z-index: 6;
}

.about__title {
  margin-top: 0;
  color: var(--special-orange-color);
  font-size: 24px;
}

.about__text-accent {
  font-weight: bold;
}
