.add-plan-step {
  border: 0;
  margin: 0;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 24px 25px 24px 25px;

  @media (min-width: @tablet-width) {
    padding: 48px 43px 56px 40px;
    border-radius: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 160px 106px 160px;
    border-radius: 60px;
  }
}

.add-plan-step--first {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .add-plan-step__header {
    margin-bottom: 17px;

    @media (min-width: @tablet-width) {
      margin-bottom: 26px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 30px;
    }
  }

  .add-plan-step__text {
    @media (min-width: @tablet-width) {
      max-width: 520px;
    }

    @media (min-width: @desktop-width) {
      max-width: 100%;
    }
  }

  .add-plan-step__calendar {
    @media (min-width: @tablet-width) {
      order: 4;
    }
  }

  .add-plan-step__footer {
    @media (min-width: @tablet-width) {
      order: 5;
    }

    @media (min-width: @desktop-width) {
      grid-column: 1/ -1;
      grid-row: 5 / 6;
      justify-self: start;
    }
  }
}

.add-plan-step--second {
  padding-bottom: 9px;

  @media (min-width: @tablet-width) {
    padding-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 104px;
  }

  .add-plan-step__header {
    margin-bottom: 0;

    @media (min-width: @tablet-width) {
      padding-bottom: 29px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 52px;
    }
  }

  .add-plan-step__text {
    @media (min-width: @tablet-width) {
      max-width: 440px;
    }
  }

  .add-plan-step__footer {
    @media (min-width: @desktop-width) {
      &::after {
        content: "";
        width: 1px;
        height: calc(100% + 14px);
        background-color: #e1e3e9;
        position: absolute;
        top: 0;
        right: 222px;
      }
    }
  }
}

.add-plan-step--third {
  padding-bottom: 8px;

  @media (min-width: @tablet-width) {
    padding-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 107px;
  }

  .add-plan-step__header {
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      padding-bottom: 31px;
      margin-bottom: 27px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 54px;
      margin-bottom: 72px;
    }
  }

  .add-plan-step__text {
    @media (min-width: @tablet-width) {
      max-width: 480px;
    }
  }

  .add-plan-step__footer {
    margin-top: 22px;

    @media (min-width: @tablet-width) {
      margin-top: 48px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 62px;
    }
  }

  .add-plan-step__btn-next {
    @media (min-width: @tablet-width) {
      min-width: 286px;
    }
  }
}

.add-plan-step__header {
  @media (min-width: @tablet-width) {
    padding-bottom: 38px;
    border-bottom: 1px solid #e1e3e9;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    column-gap: 190px;
    padding-bottom: 55px;
    border-bottom: 1px solid #e1e3e9;
    grid-column: 1 / -1;
  }
}

.add-plan-step__legend {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  color: #1d2e5b;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    margin-bottom: 33px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.add-plan-step__number {
  margin-right: 13px;
}

.add-plan-step__text {
  font-size: 16px;
  line-height: 1.38;
  color: #444444;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.2;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.add-plan-step__breadcrumb {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    padding-right: 46px;
  }
}

.add-plan-step__field {
  &--companion {
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      order: 1;
      margin-bottom: 25px;
    }

    @media (min-width: @desktop-width) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      margin-bottom: 0;
    }
  }

  &--day {
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      order: 3;
      margin-bottom: 0;
    }

    @media (min-width: @desktop-width) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      margin-top: 10px;
    }
  }

  &--children {
    font-size: 15px;
    line-height: 1;
    color: #1d2e5b;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      padding-bottom: 24px;
      border-bottom: 1px solid #e1e3e9;
      margin-bottom: 25px;
      order: 2;
    }

    @media (min-width: @desktop-width) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-self: center;
      padding: 0;
      margin: 0;
      border: 0;
    }
  }
}

.add-plan-step__calendar {
  margin-top: 23px;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-top: 57px;
    margin-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/ -1;
    grid-row: 4 / 5;
    margin-top: 32px;
    margin-bottom: 57px;
  }
}

.add-plan-step__footer {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.add-plan-step__btn-next {
  text-transform: uppercase;
  color: #1d2e5b;
  font-size: 17px;
  line-height: 1;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  padding: 12px 0;
  max-height: 40px;

  @media (min-width: @tablet-width) {
    text-transform: none;
    font-size: 24px;
    text-align: left;
    width: auto;
    padding: 28px 77px 28px 34px;
    max-height: 80px;
    position: relative;

    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='14' viewBox='0 0 11 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 7 .5 13.062V.938L11 7Z' fill='%231D2E5B'/%3E%3C/svg%3E");
      width: 11px;
      height: 14px;
      position: absolute;
      right: 37px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.add-plan-step__btn-prev {
  color: #1d2e5b;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  margin-top: 13px;

  &:hover {
    opacity: 0.7;
  }

  @media (min-width: @tablet-width) {
    margin-top: 0;
    text-transform: none;
    font-size: 24px;
    letter-spacing: normal;
    position: relative;
    padding-left: 35px;

    &::after {
      content: "";
      width: 11px;
      height: 14px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 7 12 .072v13.856L0 7Z' fill='%231D2E5B'/%3E%3C/svg%3E");
    }
  }
}
