.companions-promo {
  background-color: #192144;
  background-image: url("../img/bg-companions-promo-mobile.png");
  background-position: center 64px;
  background-size: contain;
  background-repeat: no-repeat;
  color: #ffffff;
  margin-top: -30px;
  padding-top: 101px;
  padding-bottom: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  z-index: 4;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-companions-promo-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/bg-companions-promo-tablet.png");
    background-position: center 130px;
    background-size: contain;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-top: -60px;
    padding-top: 200px;
    padding-bottom: 87px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-companions-promo-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/bg-companions-promo-desktop.png");
    background-position: center 130px;
    padding-top: 190px;
    padding-bottom: 138px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-companions-promo-desktop@2x.png");
    }
  }
}

.companions-promo__grid {
  display: grid;

  @media (min-width: @tablet-width) {
    padding: 0 34px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 0 70px;
    grid-template-columns: 1fr 630px;
    grid-template-rows: repeat(4, auto);
  }
}

.companions-promo__title {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 25px;
  color: @special-orange;
  font-size: 24px;
  line-height: 1;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    font-size: 45px;
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.companions-promo__text {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  padding-left: 25px;
  max-width: 230px;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 1.2;
    padding-left: 0;
    max-width: 427px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &--bold {
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 54px;

    @media (min-width: @tablet-width) {
      font-size: 21px;
      margin-top: 38px;
      margin-bottom: 59px;
    }

    @media (min-width: @desktop-width) {
      max-width: 416px;
      margin-top: 35px;
      margin-bottom: 0;
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
  }
}

.companions-promo__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 10px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    column-gap: 60px;
  }
}

.companions-promo__button {
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 80px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 85px;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    justify-self: start;
    min-width: 280px;
  }
}
