.companion-like {
  display: flex;
  align-items: center;
}

.companion-like__button {
  margin-right: 6px;
}

.companion-like__count {
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  color: #161c35;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}
