.companions-promo {
  background-color: #192144;
  color: #ffffff;
  margin-top: -30px;
  padding-top: 101px;
  padding-bottom: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  z-index: 4;
}

.companions-promo__title {
  margin-top: 0px;
  color: var(--special-orange-color);
  font-size: 24px;
}

.companions-promo__text-accent {
  font-weight: bold;
}
