.countries-promo {
  background-color: #EDEFF6;
  margin-top: -30px;
  padding-top: 101px;
  padding-bottom: 34px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  z-index: 5;
}

.countries-promo__title {
  margin-top: 0px;
  color: var(--special-orange-color);
  font-size: 24px;
}
