.feedback {
  background-color: #192144;
  color: #fff ;
  margin-top: -30px;
  padding-top: 101px;
  padding-bottom: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  z-index: 2;
}

.feedback__titile {
  margin-top: 0px;
  color: var(--special-orange-color);
}
