.footer {
  background-color: #ffffff;
  margin-top: auto;
  padding-top: 37px;
  padding-bottom: 20px;
  position: relative;
}

.footer::before {
  content: "";
  width: 100%;
  height: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #ffffff;
  position: absolute;
  top: -30px;
}

.footer__logo {
  .logo__img--mobile {
    fill: #192144;
  }
}
