.header-avatar {
  display: flex;
  flex-direction: column;
  margin-bottom: -47px;
}

.header-avatar__img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.header-avatar__button {
  height: 47px;
}
