.location-filter {
  background-color: #e2e5f2;
  margin-top: -30px;
  padding-top: 52px;
  padding-bottom: 15px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  min-width: 100%;

  @media (min-width: @tablet-width) {
    margin-top: -60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-top: 123px;
    padding-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    background-color: #edeff6;
    padding-bottom: 74px;
  }

  &--open {
    position: absolute;

    .location-filter__lands,
    .location-filter__letters,
    .location-filter__country,
    .location-filter__button-close {
      display: block;
    }

    @media (min-width: @desktop-width) {
      position: static;
      padding-bottom: 150px;

      .location-filter__country {
        display: none;
      }
    }
  }
}

.location-filter__grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(5, auto);

  @media (min-width: @tablet-width) {
    padding: 0 36px;
    column-gap: 70px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: auto 1fr;
    padding: 0;
  }
}

.location-filter__title {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: #192144;
  padding-left: 20px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    padding-left: 45px;
    margin-left: 20px;
  }
}

.location-filter__toggle {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
  align-self: center;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.location-filter__lands {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  padding: 0 25px 0 25px;
  margin-top: 37px;
  margin-bottom: 25px;
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    padding: 0;
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.location-filter__letters {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  padding: 0 25px 0 25px;
  margin-bottom: 15px;
  display: none;

  @media (min-width: @tablet-width) {
    padding: 0;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 63px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 74px 25px 0 25px;
  }
}

.location-filter__country {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  padding: 0 25px 0 25px;
  display: none;

  @media (min-width: @tablet-width) {
    padding: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 63px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.location-filter__button-close {
  grid-column: 1 / -1;
  grid-row: -1 / -2;
  margin-top: 28px;
  margin-bottom: 13px;
  display: none;

  @media (min-width: @tablet-width) {
    margin-top: 76px;
    margin-bottom: 20px;
  }
}
