.promo {
  margin-top: -73px;
  padding-top: 94px;
  padding-bottom: 40px;
  background-image: url(../img/globe-back-mobile.jpg);
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #161C35;
  color: #fff;
  @media(min-width: 768px) {
    margin-top: -132px;
    padding-top: 162px;
  }
  @media(min-width: 1200px) {
    margin-top: -120px;
    padding-top: 210px;
    background-size: cover;
    background-position: top center;
    background-image: url(../img/globe-back-desktop.jpg);
  }
}

.promo__title {
  margin-top: 0;
  font-size: 36px;
  line-height: 1.1;
  font-weight: bold;
  text-align: center;
  @media(min-width: 768px) {
    font-size: 60px;
  }
}
